fastapi
uvicorn
python-multipart
pydantic

pandas
sqlalchemy
psycopg2-binary

python-docx

reportlab

pytesseract
pdf2image
Pillow

sentence-transformers
scikit-learn

torch
transformers
huggingface-hub
sentencepiece
safetensors
tokenizers

numpy